# Serveur
PORT=3000
NODE_ENV=development

# Base de données
DB_HOST=localhost
DB_PORT=3306
DB_USER=
DB_PASSWORD=
DB_NAME=sgrp_db

# JWT
JWT_SECRET=
JWT_EXPIRES_IN=8h

# Frontend
FRONTEND_URL=http://localhost:5173